:root {
	--varColorFondo: #1e73be;
	--varColorBotones:#001f3a;
	--varColorBotonEditar:#776b00;
	--varColorBotonEliminar:#6e0000;
	--varColorBotonCrear:#0c3a00;
	--varcolorLetra:white;
}
html{
	background-color: blanchedalmond;
}
h1,h2,h3,h4,p{color:azure;}

.container{
	margin: 10%;
	padding: 2rem;
	display: block;
}
.boton {
	border-radius: 0.5rem;
	text-align: center;
	justify-content: center;
	padding: 0.2rem 0.5rem;
	margin: 1rem;
}
.boton:hover{
	transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	box-shadow: 1px solid rgba(0, 0, 0, 0.432);
}



div .card h3{
	color: white;
}
div .card h2{
	color: white;
}

.btn-success{
	background-color: #1e73be;
}

.btn-success:hover{
	background-color: rgb(152,150,240);
}

.tabla{
	margin-top: 50px;
	
}

td a{
	width: 100%;
}

td a img{
	width: 100px;
}

.titulo{
	display: flex;
}

.titulo img{
	width: 35px;
	height: 35px;
	float: left;
	padding: 1px;
	margin: 1px;
}

.titulo h3{
	float: left;
}





a img{
	width: 30px;
	height: 30px;
}

.botones{
	display: flex;
	align-items: space-between;
	justify-content: space-between;
}

.botones a{
	display: block;
}

.botones input{
	display: inline-block;
}